include application
currentPage = "/stats"
include navBar

.content
    .row
        div.col-md-12
            .card.card-block
                .card-body
                    table.table.table-striped
                        tbody
                            tr
                                td Консилиумных снимков:
                                td=cons_pics
            .card.card-block
                .card-body
                    table.table.table-striped
                        tbody
                            each item in pics_by_symp
                                tr
                                    td=item[0]
                                    td=item[1]

