.enterblock {
  width: 100%;
  max-width: 500px;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.content{
   width:100%;
   max-width: 1200px;
   margin: 0px auto;
   z-index: 2;
    padding: 5px;
}
.parent-width{
    max-width: 100%;
}
.card-block{
    margin-top: 5px;
    margin-bottom: 5px;
}
.pagination-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.lightspace{
    padding: 10px;
}
a:hover {
 cursor:pointer;
}

.custom-control::before,
.custom-control::after {
    width: 50px;
    height: 50px;
}

.zoom {
    /*padding: 50px;*/
    /*background-color: green;*/
    transition: transform .2s;
    /*width: 200px;*/
    /*height: 200px;*/
    margin: 0 auto;
    z-index: 1 !important;
}

.zoom:active {
    z-index: 2 !important;
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2);
    overflow: visible;
}

