.enterblock {
  width: 100%;
  max-width: 500px;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.content{
   width:100%;
   max-width: 1200px;
   margin: 0px auto;
   z-index: 2;
}
.parent-width{
    max-width: 100%;
}
.card-tab-action{
    margin-top: 25px;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -25px;
}