doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Классификатор
        link(type="text/css", rel="stylesheet", href="dev/css/application.css?q=444111q1121")
        //link(type="text/css", rel="stylesheet", href="css/materialize.min.css?q=0qwweqwfsdfgwegf",  media="screen,projection")
        link(type="text/css", rel="stylesheet", href="css2/bootstrap.min.css?q=444",  media="screen,projection")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js?q=444")
        script(type="text/javascript", src="dev/js/application.js?q=444112")
        script(type="text/javascript", src="js2/bootstrap.min.js?q=444")
        //script(type="text/javascript", src="js/materialize.min.js?q=0qwesdfsdfqwfgw")
