doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Классификатор
        link(type="text/css", rel="stylesheet", href="dev/css/application.css?q=0fqfwfwefwefwevwegqwwewefwefwqwfegwegsdvwefwefwev")
        link(type="text/css", rel="stylesheet", href="css/materialize.min.css?q=0qwf",  media="screen,projection")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js?q=0qwf")
        script(type="text/javascript", src="dev/js/application.js?q=0wevwevewvqf")
        script(type="text/javascript", src="js/materialize.min.js?q=0qw")
