include application
currentPage = "/"
include navBar


.content.row
    div.col.s12
        .card-panel
            table.striped
                tbody
                    tr
                        td Имя пользователя:
                        td Максим
                    tr
                        td Сегодня распознано:
                        td 1025
                    tr
                        td Снимков в ожидании:
                        td 162
                    tr
                        td Всего распознано:
                        td 12511
                    tr
                        td Подтверждено:
                        td 10137

