include modals/help-modal

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            if(currentPage == "/")
                li.nav-item
                    a.nav-link.active(href="/", target="_self") Главная
            else
                li.nav-item
                    a.nav-link(href="/", target="_self") Главная
            if(currentPage=="/rec")
                li.nav-item
                    a.nav-link.active(href="/rec", target="_self") Разметка
            else
                li.nav-item
                    a.nav-link(href="/rec", target="_self") Разметка
            if(admin)
                if(currentPage == "/settings")
                    li.nav-item
                        a.nav-link.active(href="/settings", target="_self") Параметры
                else
                    li.nav-item
                        a.nav-link(href="/settings", target="_self") Параметры
            if(admin)
                if(currentPage == "/stats")
                    li.nav-item
                        a.nav-link.active(href="/stats", target="_self") Статистика
                else
                    li.nav-item
                        a.nav-link(href="/stats", target="_self") Статистика
            if(admin)
                if(currentPage == "/stats_cnn")
                    li.nav-item
                        a.nav-link.active(href="/stats_cnn", target="_self") Статистика(НС)
                else
                    li.nav-item
                        a.nav-link(href="/stats_cnn", target="_self") Статистика(НС)

            if(currentPage == "/help")
                li.nav-item
                    a.nav-link.active.modal-trigger(data-toggle="modal", data-target="#help-modal") Помощь
            else
                li.nav-item
                    a.nav-link.modal-trigger(data-toggle="modal", data-target="#help-modal") Помощь
            if(admin)
                if(currentPage == "/appoint")
                    li.nav-item
                        a.nav-link.active(href="/appoint", target="_self") Назначить
                else
                    li.nav-item
                        a.nav-link(href="/appoint", target="_self") Назначить
            if(admin)
                if(currentPage == "/rejection")
                    li.nav-item
                        a.nav-link.active(href="/rejection", target="_self") Подтверждение
                else
                    li.nav-item
                        a.nav-link(href="/rejection", target="_self") Подтверждение
            if(admin)
                if(currentPage == "/users")
                    li.nav-item
                        a.nav-link.active(href="/users", target="_self") Пользователи
                else
                    li.nav-item
                        a.nav-link(href="/users", target="_self") Пользователи
            if(admin)
                if(currentPage == "/indexing")
                    li.nav-item
                        a.nav-link.active(href="/indexing", target="_self") Индексация
                else
                    li.nav-item
                        a.nav-link(href="/indexing", target="_self") Индексация
            if(currentPage == "/updates")
                li.nav-item
                    a.nav-link.active(href="/updates", target="_self") Обновления
            else
                li.nav-item
                    a.nav-link(href="/updates", target="_self") Обновления
    a.navbar-brand.text-right(href ="/logout", target="_self") Выход
