include modals/help-modal

nav.nav-extended
    div.nav-content
        ul.tabs.tabs-transparent
            if(currentPage == "/")
                li.tab
                    a.active(href="/", target="_self") Информация
            else
                li.tab
                    a(href="/", target="_self") Информация
            if(currentPage=="/rec")
                li.tab
                    a.active(href="/rec", target="_self") Разметка
            else
                li.tab
                    a(href="/rec", target="_self") Разметка
            if(currentPage == "/second_rec")
                li.tab
                    a.active(href="/second_rec", target="_self") Повторная разметка
            else
                li.tab
                    a(href="/second_rec", target="_self") Повторная разметка
            if(currentPage == "/settings")
                li.tab
                    a.active(href="/settings", target="_self") Параметры
            else
                li.tab
                    a(href="/settings", target="_self") Параметры
            if(currentPage == "/stats")
                li.tab
                    a.active(href="/stats", target="_self") Статистика
            else
                li.tab
                    a(href="/stats", target="_self") Статистика
            if(currentPage == "/help")
                li.tab
                    a.active.modal-trigger(href="#help-modal", target="_self") Помощь
            else
                li.tab
                    a.modal-trigger(href="#help-modal", target="_self") Помощь
            if(currentPage == "/appoint")
                li.tab
                    a.active.modal-trigger(href="/appoint", target="_self") Назначить
            else
                li.tab
                    a.modal-trigger(href="/appoint", target="_self") Назначить
            if(currentPage == "/logout")
                li.tab
                    a.active(href="/logout", target="_self") Выход
            else
                li.tab
                    a(href="/logout", target="_self") Выход

