include application
currentPage = "/rec"
include navBar

.content.row
    div.col.s6
        .card-panel
            img.parent-width(src="img/1446.jpg")
    div.col.s6
        .card-panel
            form#tagsform(method="post" action="#")
                each symp in symptoms
                    if(symp.symptom_name)
                        div
                            input.filled-in(type="checkbox", id=symp.id, name=symp.id)
                            label(for=symp.id, style="{pointer-events: auto;}")=symp.symptom_name
            p
            div.row
                div.col.s4
                    a.btn.black-text(onclick="document.getElementById('tagsform').submit()" )="Сохранить"
                div.col.s4
                    a.btn.black-text()="Пропустить"