include application
currentPage = "/users"
include navBar


.content
    .row
        div.col-12
            .card.card-block
                div.card-body
                    h5.card-title="Регистрация"
                    form#regForm(method="post")
                        if(message)
                            div.alert.alert-danger(role="alert")=message
                        div.form-group
                            input#username.form-control(placeholder="Имя пользователя", type="text", name="username", required)
                        div.form-group
                            input#password.form-control(placeholder="Пароль", type="password", name="password", required)
                        div.form-group
                            input#password2.form-control(placeholder="Пароль", type="password", name="password2", required)
                        button.btn.btn-primary(href="#" type="submit")="Зарегистрировать"

        div.col-12
            .card.card-block
                div.card-body
                    ul.list-group
                        each user in users
                            a(href='users/'~user.id)
                                li.list-group-item.list-group-item-action
                                    span=user.user_name~" (Назначено: "~user.app~")"
