div#help-modal.modal.modal-fixed-footer
    div.modal-content
        h4 Помощь
        p По всем вопросам вы можете обратиться к директору или разработчику
        p="Telegramm: "
            a(href="tg://resolve?domain=@chistogov")="@chistogov"
    div.modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") OK