div#info-modal.modal.modal-fixed-footer
    div.modal-content
        h4 Функционал временно отключен
        p Для регистрации обратитесь к разработчику
    div.modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") OK