div#info-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    div.modal-dialog.modal-dialog-centered(role="document")
        div.modal-content
            div.modal-header
                h5.modal-title Функционал временно отключен
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true")&times;
            div.modal-body
                p Для регистрации обратитесь к разработчику
            div.modal-footer
                button.btn.btn-secondary(data-dismiss="modal") OK